<fieldset id="general_fields">
  <legend><%= t(:general) %></legend>
  <%= f.field_container :email do %>
    <%= f.label :email %>
    <span class="required">*</span><br/>
    <%= f.text_field :email %>
  <% end %>
  <%= f.field_container :name do %>
    <%= f.label :name %>
    <span class="required">*</span><br/>
    <%= f.text_field :name %>
  <% end %>
  <%= f.field_container :note do %>
    <%= f.label :note %>
    <br/>
    <%= f.text_field :note %>
  <% end %>
  <%= f.field_container :variant_id do %>
    <%= f.label :variant_id, "Custom value: "%>
    <span class="required">*</span><br/>
   
    <%= f.text_field :free_variant_value, class:"input-small", :id => :free_variant_value_input, value:  @gift_card.original_value %>
  <% end %>
</fieldset>
